@import '../../style/';

.hiui-price {
  display: inline-block;

  em {
    font-style: normal;
    font-family: "DINAlternate-Bold";
  }

  small {
    font-size: 50%;
  }

  .hiui-price-suffix {
    position: relative;
    top: -2px;
    margin-left: 3px;
    text-decoration: none;
  }

  &.sup em {
    vertical-align: top;
    line-height: 1;
  }

  &-sup small {
    display: inline-block;
    vertical-align: top;
    line-height: 1.36;
  }

  &-noShrink small {
    font-size: inherit;
    vertical-align: baseline;
  }

  &-delete {
    em, small {
      text-decoration: line-through;
    }
  }
}
