@import '../../style/';

.hiui-price {
  display: inline-block;

  em {
    font-family: "DINAlternate-Bold";
  }

  small {
    font-size: 50%;
  }

  &.sup em {
    vertical-align: top;
    line-height: 1;
  }

  &-sup small {
    display: inline-block;
    vertical-align: top;
    line-height: 1.36;
  }

  &-delete {
    text-decoration: line-through;
  }
}
