@import '../../style/';

_default = #d9d9d9;
_default_deep = #666;

.hiui-btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  border-radius: _border_radius;
  color: _default_deep;
  vertical-align: middle;
  border: 1px solid _default;
  background-color: #fff;
  user-select: none;
  position: relative;
  color: rgba(0 ,0 , 0, .65);
  outline: none;
  box-shadow: none;
  cursor pointer;
  transition: all .2s;

  &:hover {
    border-color: darken(_default, 30%);
  }

  &:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .12);
  }

  &.disabled {
    opacity: .3;
    cursor: not-allowed;

    &:active {
      box-shadow: none;
    }
  }
}

for size in _size {
  .hiui-btn-{size} {
    padding: 0 _btn_gap_ + size;
    font-size: _btn_font_ + size;
    height: _size_ + size;

    .hiui-icon {
      margin: 0 -1px;
      font-size: (_btn_font_ + size) + 2px;
      line-height: 1;
    }
  }
}
