@import '../../style/';

.hiui-calendar {
  z-index: 9;
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  line-height: normal;

  header {
    position: relative;
    padding: 10px;
    font-size: 16px;
    text-align: center;

    span {
      margin: 0 5px;
      corsor: pointer;
    }

    .hiui-icon {
      position: absolute;
      top: 50%;
      opacity: .6;
      transform: translateY(-50%);
      cursor: pointer;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }

    .icon-left {
      left: 10px;
    }

    .icon-right {
      right: 10px;
    }
  }

  .hiui-calendar-day {
    width: 100%;
    overflow: hidden;
    cursor: default;

    tbody {
      position: relative;
    }

    thead {
      position: relative;
    }

    tr {
      border: none;
      outline: none;
      box-shadow: none;
    }

    th, td {
      width: auto;
      text-align: center;
      user-select: none;
      border: none;
      cursor: pointer;
    }

    th {
      color: #333;
    }

    td {
      padding: 8px 5px;
      border: 1px solid #fff;
      background-color: #f7f7f7;
      transition: all .2s;

      &.cur_month {
        color: #000;
      }

      &.prev_month, next_month {
        color: #999;
      }

      &.today {
        box-shadow: inset 0 0 0 1px _blue;
      }

      &.disabled {
        background-color: #f7f7f7;
        color: #e3e3e3;
        cursor: not-allowed;

        &.cur_month {
          color: #c3c3c3;
        }
      }

      &:not(.disabled):hover {
        color: _white;
        background-color: _blue_light;
      }
    }
  }
}
