@import '../../style/';

.hiui-tabBar {
  position: relative;
  height: _tabBar_height;
  line-height: _tabBar_height;
  margin-bottom: 15px;
  border-bottom: 1px solid _grey_light;
  white-space: nowrap;
  box-sizing: content-box;

  .hiui-tabBar-item {
    position: relative;
    height: _tabBar_height;
    line-height: _tabBar_height;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;

    &.active {
      color: _tabBar_active_color;
      border-bottom: 2px solid _tabBar_active_color;
    }
  }

  &-padding {
    .hiui-tabBar-item {
      padding: 0 15px;
    }
  }

  &-no_padding {
    .hiui-tabBar-item {
      padding: 0;
      margin-right: 30px;
    }
  }

  // theme: ticket
  &-ticket {
    border-bottom: 0;

    .hiui-tabBar-item {
      color: _tabBar_ticket_active_color;
      background-color: _tabBar_ticket_color;
      border-left: 1px dashed _white;

      &:first-child {
        border-left-width: 0;
      }

      &.active {
        color: _white;
        background-color: _tabBar_ticket_active_color;
        border-bottom: none;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 10px 0 10px;
          border-color: _tabBar_ticket_active_color transparent transparent transparent;
        }
      }
    }
  }

  // theme: card
  &-card {

    .hiui-tabBar-item {
      margin-right: 4px;
      background-color: _tabBar_card_color;
      border: 1px solid _grey_light;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;

      &.active {
        color: _tabBar_card_active_color;
        background-color: _white;
        height: _tabBar_height + 1px;
        border-bottom: 0;
        transform: translateZ(0);
      }
    }
  }
}
