@import '../../style/';

.hiui-toast {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: _border_radius;
  color: #fff;
  z-index: 99999;
  background-color: _white;
  letter-spacing: -.2em;
  border-radius: _border_radius;
  overflow: hidden;

  &-default {
    border: 1px solid #666;

    .hiui-toast-content {
      background-color #666;
    }
    .hiui-icon {
      color: #666;
    }
  }

  &-primary {
    border: 1px solid _blue;

    .hiui-toast-content {
      background-color: _blue;
    }
    .hiui-icon {
      color: _blue;
    }
  }

  &-error {
    border: 1px solid _red;

    .hiui-toast-content {
      background-color: _red;
    }
    .hiui-icon {
      color: _red;
    }
  }

  &-warning {
    border: 1px solid _yellow;

    .hiui-toast-content {
      color: #333;
      background-color: _yellow;
    }
    .hiui-icon {
      color: _yellow;
    }
  }

  &-success {
    border: 1px solid _green;

    .hiui-toast-content {
      background-color: _green;
    }
    .hiui-icon {
      color: _green;
    }
  }

  &-show_icon {
    .hiui-toast-content {
    }
  }

  .hiui-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 100%;
  }
}

.hiui-toast-content {
  display: inline-block;
  padding: 8px 15px;
  background-color #666;
  letter-spacing: 0;
}

.hiui_fade-enter-active, .hiui_fade-leave-active {
  transition: all .3s;
}
.hiui_fade-enter, .hiui_fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(.9);
}
