@import '../../style/';

.hiui-toast {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 15px;
  background-color #666;
  border-radius: 4px;
  color: #fff;
  z-index: 99999;

  &.hiui-toast-default {
    background-color #666;
  }

  &.hiui-toast-primary {
    background-color: _blue;
  }

  &.hiui-toast-error {
    background-color: _red;
  }

  &.hiui-toast-warning {
    background-color: _yellow;
  }

  &.hiui-toast-success {
    background-color: _green;
  }
}

.hiui_fade-enter-active, .hiui_fade-leave-active {
  transition: all .3s;
}
.hiui_fade-enter, .hiui_fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(.9);
}
